<div class="exam-template-section">
  <h3><%= "Log ##{i}"%> </h3>
  <p><span class="exam-template-info"><%= 'Filename' %></span>: <%= split_pdf_log.filename %> </p>
  <p><span class="exam-template-info"><%= 'Number of pages' %></span>: <%= split_pdf_log.original_num_pages %></p>
  <p><span class="exam-template-info"><%= 'Exam Template' %></span>: <%= split_pdf_log.exam_template.name %></p>
  <p><span class="exam-template-info"><%= 'Number of QR scan errors' %></span>: <%= split_pdf_log.num_pages_qr_scan_error %></p>
  <hr>
</div>
